.my-masonry-grid {
  margin: 20px auto;
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 5px;
  background-clip: padding-box;
}

.my-masonry-grid_column > img {
  background: grey;
  margin-bottom: 5px;
}

.gif {
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
}
